celery==3.1.23
django-celery==3.1.17
django==1.9.9
djangorestframework==3.4.7
djangorestframework-jwt==1.8.0
python-social-auth
rest-social-auth
redis
tornado==4.3
supervisor
psycopg2
PyJWT
short_url
tornado-redis==2.4.18
django-ipware
coverage
django-jenkins
phonenumbers
qcloudsms_py
apns-clerk
validator.py
aliyun-python-sdk-core
aliyun-python-sdk-sts
pycrypto
xinge_push
requests
elasticsearch